@model FRSS.Models.userchangepasswordmodel
@using FRSS.Utility
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover {
        background-color: #008d4c;
        color: white;
    }

    .dropdown-menu > li > a {
        color: white;
    }
</style>

<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <!-- /.box -->
            <div class="box">
                @using (Html.BeginForm("UserChangePassword", "usermaster", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    @Html.HiddenFor(p => p.userid)
                    @Html.HiddenFor(p => p.username)
                    <div class="box box-warning">
                        <div class="box-header with-border">
                            <h3 class="box-title" id="headertext">Change Password </h3>
                        </div>

                        <!-- /.box-header -->
                        <div class="box-body">
                            <div id="divUserGroupErrorMessage">
                                @if (ViewBag.Error != null)
                                {
                                    <h4 class="box-alert" style="color: red; margin-left: 10px;">@ViewBag.Error</h4>
                                }
                            </div>

                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        @Html.Label("User Name")
                                        @Html.TextBoxFor(m => m.username, new { @class = "form-control", @placeholder = "User Name", @readonly = "readonly" })
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <div class="form-group">
                                        &nbsp;
                                    </div>
                                </div>
                            </div>
                            
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        @Html.Label("New Password")
                                        @Html.TextBoxFor(m => m.usernewpwd, new { @class = "form-control", @placeholder = "New Password", @required = "required" })

                                        @Html.ValidationMessageFor(s => s.usernewpwd, null, new { style = "color: red" })
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <div class="form-group">
                                        &nbsp;
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        @Html.Label("Re-Type Password")
                                        @Html.TextBoxFor(m => m.userretypepwd, new { @class = "form-control", @placeholder = "Re-Type Password", @required = "required" })

                                        @Html.ValidationMessageFor(s => s.userretypepwd, null, new { style = "color: red" })
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <div class="form-group">
                                        &nbsp;
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="col-md-2 btn-padding-right">
                                        <input type="submit" class="btn btn-block btn-info " value="Save" />
                                    </div>
                                    <div class="col-md-2 btn-padding-right">
                                        <a href="@Url.Action("UserViewList", "usermaster")" class="btn btn-block btn-danger">Cancel</a>
                                    </div>
                                    <div class="col-md-8">
                                        &nbsp;
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.box-body -->
                    </div>
                }
            </div>
        </div>
    </div>
</section>


<script>
    $(document).ready(function () {
        $('#regdate').datepicker({
            format: 'dd/mm/yyyy',
            autoclose: true,
            setDate: new Date()
        });

        $(".sidebar-menu li").removeClass('active');
        $("#liadministrator").addClass("active");
        $("#lichangepwd").addClass("active");
    })
</script>

