@model FRSS.Models.compfinyearmodel
@using FRSS.Utility
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover {
        background-color: #008d4c;
        color: white;
    }

    .dropdown-menu > li > a {
        color: white;
    }
</style>

<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <!-- /.box -->
            <div class="box">
                @using (Html.BeginForm("formcompfinyear", "compfinyear", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    @Html.HiddenFor(p => p.compfinid)
                    <div class="box box-warning">
                        <div class="box-header with-border">

                            @if (!string.IsNullOrEmpty(Model.compfinid) && Convert.ToString(Model.compfinid) != "")
                            {
                                <h3 class="box-title" id="headertext">Edit Company Financial Year</h3>
                            }
                            else
                            {
                                <h3 class="box-title" id="headertext">Add Company Financial Year </h3>
                            }
                        </div>

                        <!-- /.box-header -->
                        <div class="box-body">
                            <div id="divUserGroupErrorMessage">
                                @if (ViewBag.Error != null)
                                {
                                    <h4 class="box-alert" style="color: red; margin-left: 10px;">@ViewBag.Error</h4>
                                }
                            </div>

                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        @Html.Label("Company Name")

                                        @Html.DropDownListFor(s => s.compid, Model.complist, "Select Company", new Dictionary<string, object>()
                                                                       {
                                                                            { "type", "text" },
                                                                            { "class", "form-control" },
                                                                            { "required", "required" },
                                                                            { "id", "ddlcity"},
                                                                            {"width","50%" }
                                                                        })

                                        @Html.ValidationMessageFor(s => s.compid, null, new { style = "color: red" })
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <div class="form-group">
                                        &nbsp;
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Financial Year Start</label>
                                        @Html.TextBoxFor(m => m.finstart, new { @class = "form-control", @placeholder = "Financial Year Start", @required = "required" })

                                        @Html.ValidationMessageFor(s => s.finstart, null, new { style = "color: red" })
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <div class="form-group">
                                        &nbsp;
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Financial Year End</label>
                                        @Html.TextBoxFor(m => m.finend, new { @class = "form-control", @placeholder = "Financial Year End", @required = "required" })

                                        @Html.ValidationMessageFor(s => s.finend, null, new { style = "color: red" })
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <div class="form-group">
                                        &nbsp;
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="col-md-2 btn-padding-right">
                                        <input type="submit" class="btn btn-block btn-info " value="Save" />
                                    </div>
                                    <div class="col-md-2 btn-padding-right">
                                        <a href="@Url.Action("ViewCompFinYearList", "compfinyear")" class="btn btn-block btn-danger">Cancel</a>
                                    </div>
                                    <div class="col-md-8">
                                        &nbsp;
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.box-body -->
                    </div>
                }
            </div>
        </div>
    </div>
</section>


<script>
    $(document).ready(function () {
        $('#regdate').datepicker({
            format: 'dd/mm/yyyy',
            autoclose: true,
            setDate: new Date()
        });

        $(".sidebar-menu li").removeClass('active');
        $("#limaster").addClass("active");
        $("#lifinyearmaster").addClass("active");
    })
</script>

